html {
    font-size: 62.5%;
}

body {
    display: grid;
    grid-template-areas:"header header header header"
                        "hero hero hero hero"
                        "about about about about"
                        "services services services services"
                        "projects projects projects projects"
                        "footer footer footer footer";

    grid-template-columns: 4, 1fr;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* HEADER */

.header {
    grid-area: header;
    background-color: #fff;
}

.header .header-container {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header h1 {
    font-size: 3rem;
    font-weight: 700;
    transition: 0.3s;
}

.header a:hover h1 {
    color: coral;
}

/* HERO */

.hero {
    grid-area: hero;
    height: 89vh;
    background: url('../imagens/lemons.jpg') center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h2{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 4rem;
}

.hero:after{
    content: url('../imagens/seta_preta.png') ;
    position: absolute;
    height: 35px;
    bottom: 40px;
    animation: dowarrow 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes dowarrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4;}
    100% { -webkit-transform: translateY(0.4em); opacity: 0.9;}
}

@media (max-width: 425px) {
    .hero {
        height: 60vh;
    }
    
    .hero h2 {
        font-size: 2.5rem;
    }
}

/* ABOUT */

.about {
    grid-area: about;
    background-color: black;
}


/* SERVICES */

.services {
    grid-area: services;
    background-color: blue;
}

/* PROJECTS */

.projects {
    grid-area: projects;
    background-color: blueviolet;

}

/* FOOTER */

.footer {
    grid-area: footer;
    background-color: darkgrey;
}